{#
/**
 * @file
 * Default theme implementation to display something.
 *
 * Available variables:
 * - foo: Foo variable description.
 *
 * @see template_preprocess_simple_github_manager()
 *
 * @ingroup themeable
 */
#}

<p style="color: darkred;font-weight: 800; text-align: left;">
    //////////////////////////////////////////////////////////////</p>
<p style="color: darkred;font-weight: 800; text-align: left;">//////// TEMPLATE TWIG IS WORK!!! ////////</p>
<p style="color: darkred;font-weight: 800; text-align: left;">
    //////////////////////////////////////////////////////////////</p>

<ul class="groups_list">
    {{ form }}
</ul>
<style>
.btn_del {
    float: left;
}
</style>





{#    <article class="simpleGithubManager">#}

{#        <h2 class="simpleGithubManager__capt">#}
{#            The GitHub repositories list#}
{#        </h2>#}

{#        <br><br>#}
{#        {{ my_form.attributes }}#}
{#        {{ my_form.form_build_id }}#}
{#        {{ my_form.form_token }}#}
{#        {{ my_form.form_id }}#}

{#        <ul class="simpleGithubManager__list">#}
{#            {% for repo in git_repo_arr %}#}
{#                <li class="simpleGithubManager__item">#}
{#                    <a href="{{ url_parent }}{{ repo.full_name }}"#}
{#                       class="simpleGithubManager__link"><strong>{{ repo.name }}</strong></a>#}
{#                    {{ my_form.actions.submit }}#}
{#                </li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    </article>#}



